.nav_bar{
	width: 100%;
	height: rem-calc(120px);
	background: $bg-navtop;
	box-shadow: 1px 0 10px #ccc;
	overflow: hidden;
}

.content_navbar {
	margin: 15px 0;
}
.logo {
	@include col( 2 / 12);
	background: url('../img/LinkedIn-Logo.png') no-repeat center;
	height: rem-calc(60px);
	background-size: contain;
	text-indent: -9999px;
}

.search {
	@include col( 4 / 12 );
	position: relative;
}

.icon_search {
	position: absolute;
	right: 6%;
	top: 20%;
	width: 27px;
	height: 27px;
	background: url('../img/search.png') no-repeat;
}

.avatar_top {
	@include col( 1 / 12 );
	position: relative;
}

.avatar {
	width: 40px;
	height: 40px;
}

.number_notification {
	width: rem-calc(40px);
	height: rem-calc(40px);
	content: '15';
	background: $icon-notification;
	position: absolute;
	top: -10px;
	right: 2px;
	padding: 3px;
	border-radius: 100%;
	text-align: center;
	color: $color-notification;
	font-weight: bold;
}

.cover {
	width: 100%;
	height: 400px;
	overflow: hidden;
}