.nav_bar{
	width: 100%;
	height: rem-calc(120px);
	background: $bg-navtop;
	box-shadow: 1px 0 10px #ccc;
}

.logo {
	@include col( 2 / 12);
	background: url('../img/LinkedIn-Logo.png') no-repeat center;
	height: rem-calc(60px);
	margin-top: 0.8rem;
	background-size: contain;
	text-indent: -9999px;
}

.search {
	@include col( 4 / 12 );
	position: relative;
}

.icon_search {
	position: absolute;
	right: 3%;
	top: 19%;
	width: 30px;
	height: 30px;
	background: url('../img/search.png') no-repeat;
}
