* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
html {
  font-size: 62.5%;
}
body {
  font: 13px/1.6 $font-default;
  background: #fff;
  color: #444;
  height: 2000px;
}

a {
  text-decoration: none;
}