input {
	border: none;
	outline: none;
}

.search_all {
	width: 100%;
	padding: rem-calc(20px) rem-calc(10px);
	border: 2px solid $border-search;
	border-radius: 25px;

	&::placeholder {
		margin-left: cal-rem(20px);
	}
}
