input {
	border: none;
	outline: none;
}

.search_all {
	width: 100%;
	padding: 1rem 1.5rem;
	border: .2rem solid $border-search;
	border-radius: 2.5rem;
	font-size: 1.2rem;
	font-style: italic;
	color: $search-placeholder;

	&::placeholder {
		font-size: 1.3rem;
	}
}
