.item_nav {
	display: inline-block;
	margin: 0 1.5rem;
	font-size: 1.6rem;
}

.link_nav_top {
	color: $link-navtop;
}

.list_information {
	font-size: 1.7rem;
	margin: .8rem 0;
	b {
		margin-right: 2rem;
	}
}

.network {
	list-style: none;
	li {
		float: left;
		margin-right: 3.0rem;
	}	
}

@each $networks in dribbble, github, twitter, facebook, googlep {
	.#{$networks}_icon {
		width: 3.0rem;
		height: 2.0rem;
		display: block;
		background: url('../img/icon-#{$networks}.png') no-repeat;
	}
}