$base-px-default: 16px !default;

// Variables fonts
$font-default: 'ProximaNova';

// Variable backgrounds
$bg-navtop: #ffffff;
$icon-notification: #e15353;
$btn-send: #0177b5;

// Color border
$border-search: #e3e3ec;
$color-notification: #ffffff;
$border-divider_profile:  rgba(201, 201, 220, 0.52);

// Color links
$link-navtop: #3d4050;
$search-placeholder: #a6abc7;
$profile_name: #3d4050;
$color-btn: #FFF;